<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Code+Pro&display=swap" rel="stylesheet" defer>
    <link rel="stylesheet" href="/style.css">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="icon" href="/favicon.png">

    <meta name="theme-color" content="#ffffff">

    {% block extracss %}
    {% endblock extracss %}
    <title>
      {% block title %}
      {{ config.title }}
      {% endblock title %}
    </title>
  </head>
  <body>
    {% block navbar %}
    <header class="page-header">
      <div class="brand"><a href="/">Ashok Gautham Jadatharan </a></div>
      <div class="nav">
        <nav>
          {% set s= get_section(path="_index.md") %}
          {% for ss_ in s.subsections %}
          {% set ss = get_section(path=ss_) %} 
          <a class="navitem" href="{{ss.permalink}}"> {{ ss.title | lower}} </a>
          {% endfor %}
        </nav>
      </div>
    </header>
    {% endblock navbar %}

    {% block content %}
    <main class="page-main">
    </main>
    {% endblock %}

    <footer class="page-footer">
      <div class="left-footer">
        <div>
          Copyright (c) 2021, Ashok Gautham Jadatharan.
        </div>
        <div>
          Content is available under <a href="https://creativecommons.org/licenses/by-sa/4.0/"> CC-by-SA 4.0 </a>.
        </div>
      </div>
      <div class="right-footer">
        <a href="https://twitter.com/ScriptDevil">
          <img src="/icons/twitter-brands.svg" alt="twitter" height="16px" width="16px" /> @ScriptDevil
        </a>
        <a href="https://github.com/ScriptDevil">
          <img src="/icons/github-brands.svg" alt="github" height="16px" width="16px" /> ScriptDevil
        </a>
      </div>
    </footer>
  </body>
</html>
